body {
    width: 100vw;
    height: 100vh;
    background: url("ckmnstr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cookiealert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 1;
    opacity: 0;
    border-radius: 0;
    background: #212327;
    transform: translateY(-100px);
    transition: all 800ms ease-out;
    color: white;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}
